html {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    line-height: 1.5;
    
}
/*
font-family: 'Noto Serif', serif;
font-family: 'PT Serif', serif;
*/
.header{
    background:#e5e4d3;
    background-image: url("header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
}


.title{
    font-size: 40px;
    font-family: 'PT Serif', serif;
}